/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Nunito:wght@200;300;400;500;600;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(255, 255, 255);
  --secondary: rgb(243, 247, 255);
}

html {
  font-size: 16px;
  /* font-family: 'Inter', sans-serif; */
}
html,
body,
#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
img {
  object-fit: cover;
  width: 100%;
}
input:focus {
  box-shadow: none !important;
}
textarea:focus {
  box-shadow: none !important;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #91c4f2;
  border-radius: 15px;
  border: 2px solid #fff;
}
#row-height {
  height: 54px !important;
}
.cell-height {
  height: 54px !important;
}

@media (max-width: 784px) {
  html {
    font-size: 14px;
  }
}

.home {
  display: inline-grid;
  width: 100%;
}
.btnContainer {
  margin: 0.35em;
  display: flex;
  justify-self: flex-end;
}

.operating {
  background-color: green;
  color: white;
  padding: 0.3em 0.5em;
  margin: 0.5em;
  display: flex;
  text-decoration: none;
  border-radius: 2em;
  font-weight: bolder;
  justify-content: center;
}

.maintenance {
  background-color: orange;
  color: white;
  padding: 0.3em 0.5em;
  margin: 0.5em;
  display: flex;
  text-decoration: none;
  border-radius: 2em;
  font-weight: bolder;
  justify-content: center;
}
